*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(31, 26, 48);
}
nav{
    background-color: rgb(43, 35, 65);
    height: 60px;
   
}
nav ul{
    display: flex;
    justify-content: end;
    gap: 30px;
    overflow: hidden;
    list-style: none;
}
nav ul li{
    margin-top: 30px;
    margin-right: 20px; 
   
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
nav ul li a:hover{
    background-color: blue;
    border-radius: 12px;
    padding: 2px 5px;
}
.navigation-bar{
    display: none;
    color: white;
}
.main-content{
    display: flex;
    background-color: rgb(31, 26, 48);
    height: 100vh;
    justify-content: center;
    gap: 50px;
    
}
.left-main{
    margin-top: 12%;
}
.line1{
    display: flex;
    color: white;
    gap: 10px;
    font-size: 25px;

}
.line1 img{
   height: 40px;
   width: 40px;
}
.line2{
    font-size: 30px;
    color: white;
}
.line3{
    color: yellowgreen;
    font-size: 30px;
}
.main-img img{
    height: 65%;
}
.main-h1 h1{
     color: white;
     font-size: 40px;
     text-align: center;
}
.project-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
 }
.project img{
    height: 45vh;
}
.project p{
    color: white;
    text-align: center;
}
.contact-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.contact-sec h1{
    color: white;
    text-align: center;
    margin-bottom: 0px;
    font-size: 50px;
}
.horizontal-divider{
    height: 4px;
    width: 160px;
    background-color: blue;
    margin-left: 44%;
    margin-bottom: 40px;
}
.contact-sec ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
} 
.contact-sec ul li a i{
  color: blue;
  font-size: 30px;
  margin-bottom: 40px;
}

/* media queries */

@media screen and (max-width: 580px){
    nav ul{
        display: none;
    } 
    .navigation-bar{
        display: block;
        color: white;
    }
}